.comment-index {
  font-size: 0.9em;
}

.comment-item-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2px;
}

.comment-item-container {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-item {
  width: 100%;
  margin-left: 5px;
}

.comment-item-header-left > p {
  margin-top: 2px;
}

.comment-item-header-left > h7 {
  font-size: 0.8em;
  color: #908280;
}

.comment-item-body {
  margin-top: 7px;
}

.comment-create {
  width: 100%;
}

.comment-input {
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
    border: 1px solid #878889;
    border-radius: 3px;
}

.task-detail-footor {
  padding-left: 50px;
  padding-right: 50px;
  /*padding-bottom: 7px;*/
  background-color: #f2f2f2;
  border-top: 1px solid #cdcfd2;
  border-radius: 3px;
  box-sizing: border-box;
}

#add-comment {
  color: rgb(40, 120, 185);
  border: 1.5px solid rgb(40, 120, 185);
  border-radius: 3px;
  font-family: Arial;
  font-size: 0.9em;
  font-weight: 100;
  background-color: white;
  width: auto;
  padding: 7px 15px;
  text-transform: capitalize;
  margin: 3px 0 10px 0;
}

#add-comment:hover {
  background-color: white;
  color: rgb(64, 170, 255);
  border: 1.5px solid rgb(64, 170, 255);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  -moz-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  cursor: pointer;
}

.task-detail-top {
  overflow-y: auto;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
