.group:after {
  content: "";
  clear: both;
  display: block;
}

.front-header {
  background-color: white;
  z-index: 5;
  width: 100%;
  height: auto;
}

.front-header-nav {
  display: block;
  width: 90%;
  margin: auto;
  padding: 5px 20px;
}

.front-header-left {
  float: left;
}

.front-header-left a {
  font-family: 'Tillana', cursive;
  color: rgb(56, 40, 76);
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
}

.front-header-right {
  float: right;
}

.front-header-right > li {
  float: left;
  display: block;
  border: 1px solid rgb(95, 82, 112);
  border-radius: 3px;
  font-size: 1em;
  margin: 10px 10px 10px 10px;
  width: 120px;
  /*height: 40px;*/
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  color: rgb(95, 82, 112);
  background: white;
}

.front-header-right > li:nth-child(2) {
  color: white;
  background-color: rgb(95, 82, 112);
  width: auto;
  padding: 10px 30px;
  text-transform: capitalize;
}

.front-header-right > li:nth-child(2):hover {
  background-color: rgb(116, 96, 142);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  -moz-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  cursor: pointer;
}

.front-header-right > li:hover {
  background-color: white;
  border: 1px solid rgbargb(116, 96, 142);

  -webkit-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  -moz-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  cursor: pointer;
}
