button:focus {outline:0;}

.task-container {
  min-width: 400px;
  display: flex;
  height: 100%;
  overflow: hidden;
  justify-content: space-around;
}

.task-index {
  width: 55%;
  height: 98%;
  min-width: 560px;
  overflow-y:scroll;
  border: 0.2px solid rgba(205, 207, 210, 0.78);
  border-radius: 3px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 1%;
  margin-bottom: 25px;
  margin-left: 1%;
  margin-right: 0.5%;
  overflow: auto;
  background: white;
  box-sizing: border-box;
}

.task-detail {
  display: flex;
  width: 50%;
  height: 98%;
  border: 1px solid #cdcfd2;
  border-radius: 3px;
  margin-top: 1%;
  margin-bottom: 25px;
  margin-left: 0.5%;
  margin-right: 1%;
  flex-direction: column;
  background: white;
  justify-content: space-between;
  box-sizing: border-box;
}

.task-input {
  width: 100%;
  height: 50px;
}

.completed-task-input {
  width: 100%;
  height: 50px;
}

.workspaces:nth-child(2) {
  width: 100%
}
.task-index-top{
  height: 40px;
  margin-bottom: 35px;
}

.task-check {
  display:inline-block;
  background-color: #898E95;
  min-width: 22px;
  min-height: 22px;
  max-height: 22px;
  background: white;
  border-radius:50%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border: 1px solid;
  border-color: #898E95;
  color: #898E95;
}

.task-check:before{
  content:"";
  position: absolute;
  min-width:3px;
  min-height:9px;
  background-color: #898E95;
  left:11px;
  top:6px;
}

.task-check:after {
  content:"";
  color: inherit;
  position: absolute;
  min-width:3px;
  min-height:3px;
  background-color: #898E95;
  left:8px;
  top:12px;
}

.task-check:hover:after {
  background-color: #3BF7D1;
}

.task-check:hover:before{
  background-color: #3BF7D1;
}

.task-check:hover {
  border-color: #3BF7D1;
  color: #9DFBE8;
  box-shadow: 0px 0px 0px 2px #3BF7D1;
}

.completed-task-check {
  display:inline-block;
  background-color: #96e8b8;
  min-width: 22px;
  min-height:22px;
  max-height: 22px;
  background: #96e8b8;
  border-radius:50%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border: 1px solid;
  border-color: #96e8b8;
}

.completed-task-check:before{
  content:"";
  position: absolute;
  min-width:3px;
  min-height:9px;
  background-color: white;
  left:11px;
  top:6px;
}

.completed-task-check:after {
  content:"";
  position: absolute;
  min-width:3px;
  min-height:3px;
  background-color: white;
  left:8px;
  top:12px;
}

.task-index-top-left {
  color: rgb(40, 120, 185);
  border: 1.5px solid rgb(40, 120, 185);
  border-radius: 3px;
  font-size: 1em;
  font-weight: 100;
  /*background-color: rgb(40, 120, 185);*/
  width: auto;
  padding: 15px 40px;
  text-transform: capitalize;
}

.task-index-top-left:hover {
  background-color: white;
  color: rgb(64, 170, 255);
  border: 1.5px solid rgb(64, 170, 255);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  -moz-box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  box-shadow: 1px 1px 12px 0px rgba(128,142,158,0.79);
  cursor: pointer;
}

button {
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	font-size:13px;
	font-family:Arial;
}

button {
	overflow:visible;
	width:auto;
}

::-webkit-file-upload-button {
	padding:0;
	border:0;
	background:none;
}

.task-detail-due-date {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  cursor: pointer;
  border: 1px solid;
  border-color: white;
}
