.app-workspaces {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.workspaces {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
  background-color: white;
}

.workspaces-header {
  width: 100%;
  background: white;
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.5);
}
.workspaces-header-left {
  float:left;
}

.workspaces-header-right {
  float: right;
}

.badge {
  float: right;
  width: 15px;
  height: 15px;
  display: block;
  margin: 5px 20px 5px 10px;
  font-size: 12px;
  font-weight: 400;
  color:white;
  padding: 7px;
  background: yellow;
  border-radius: 50%;
  background: rgba(227,187,252,1);
  background: -moz-linear-gradient(-45deg, rgba(227,187,252,1) 0%, rgba(154,31,255,1) 50%, rgba(230,197,251,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(227,187,252,1)), color-stop(50%, rgba(154,31,255,1)), color-stop(100%, rgba(230,197,251,1)));
  background: -webkit-linear-gradient(-45deg, rgba(227,187,252,1) 0%, rgba(154,31,255,1) 50%, rgba(230,197,251,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(227,187,252,1) 0%, rgba(154,31,255,1) 50%, rgba(230,197,251,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(227,187,252,1) 0%, rgba(154,31,255,1) 50%, rgba(230,197,251,1) 100%);
  background: linear-gradient(135deg, rgba(227,187,252,1) 0%, rgba(154,31,255,1) 50%, rgba(230,197,251,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3bbfc', endColorstr='#e6c5fb', GradientType=1 );
}

.workspaces-header-right li {
  float: right;
  margin: 15px 3px 1px 3px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  color: grey;
  cursor: pointer;
}

.workspaces-header a {
    float: right;
    margin: 15px 3px 1px 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    color: grey;
    cursor: pointer;
}

.side-bar-opener  {
    float: right;
    padding: 0 10px;
    margin: 0 10px 0px 0px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: grey;
    cursor: pointer;
    border-right: 0.5px solid rgba(156, 156, 156, 0.5);
    border-left: 0.5px solid rgba(156, 156, 156, 0.5);
    visibility: visible;
}

.side-bar-opener-hidden {
    float: right;
    padding: 0px;
    margin: 0 10px 0px 0px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: grey;
    cursor: pointer;
    border-right: 0.5px solid rgba(156, 156, 156, 0.5);
    border-left: 0.5px solid rgba(156, 156, 156, 0.5);
    visibility: hidden;
    width: 0;
}

.dropdown {
  position: absolute;
  background-color: white;
	top: 39px;
	right: 20px;
	border: 0.5px solid rgba(156, 156, 156, 1);
	border-radius: 3px;
	padding: 0px;
	width: 250px;
	z-index: 200;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
	font-weight: 300;
}

.dropdown-workspaces h2 {
  display: block;
  padding: 10px 20px;
  color: grey;
  font-weight: 200;
}

.wslist {
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.5);
}

.wslist ul li {
  display: block;
  font-weight: 200;
}

.wslist ul li h3 {
  padding: 10px 20px;
  font-weight: 200;
}

.dropdown-workspaces > a {
  display: block;
  padding: 10px 20px;
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.5);
}

.dropdown-workspaces > h3 {
  display: block;
  padding: 10px 20px;
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.5);
  font-weight: 200;
}

.dropdown > h2 {
  display: block;
  padding: 10px 20px;
  font-weight: 300;
}

.wslist ul li:hover,
.dropdown-workspaces > a:hover,
.dropdown-workspaces > h3:hover,
.dropdown > h2:hover {
  color: white;
  background-color: rgb(40, 120, 185);
  cursor: pointer;
}
