// Place all the styles related to the Api::Workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.workspaces {
  background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #d6ded6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #d6ded6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  opacity: 1;
  height: 100vh;
}
