// Place all the styles related to the Api::Workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.workspaces {
  background-image: url(image-path('bg2.jpg'));
  opacity: 1;
  height: 100vh;
}
