<!DOCTYPE html>
<html>
<head>
  <title>Flow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/css?family=Tillana" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
